.pagination {
    display: flex;
    justify-content: center;
    gap: 6px;
}
.pagination__num {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    align-items: center;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    background-color: pink;
    color: #88a3e2;
}
.pagination__num:hover {
    color: pink;
    background-color: #aaecfc;
}
.pagination__num.active {
    background-color: #aaecfc;
    color:pink;
}