.primary {
    background-color: pink;
}

.secondary {
    background-color: #88a3e2;
}

.btn {
    color: #7297ee;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    border-radius: 6px;
    padding: 8px 15px;
}

.btn:hover {
    color: pink;
    border: none;
    background-color: #aaecfc;
    /* opacity: 0.5; */
}