.card-lite {
    background-color: #98ecf7;
    display: grid;
    gap: 15px;
    padding: 12px;
    border-radius: 6px;
    grid-template-rows: 200px auto 1fr 30px;
    /* распределение элементов карточки по вертикали */
    align-content: flex-start;
    width: 320px;
}

.card-lite:hover {
    transition: 0.1s ease-in-out;
    box-shadow: 0px 0px 10px 5px rgba(82, 243, 243, 0.6);
}

.card-lite h4 {
    color: #f37b66;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}

.card-lite p {
    margin: 0;
}

.card-lite img {
    border-radius: 6px;
    height: 200px;
    justify-self: end;
}

.btn {
    color: aqua;
    height: 35px;
    border-radius: 20px;
    background-color: #f37b66;
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: 600;

}

.btn:hover {
    color: #f37b66;
    border: 1px solid#f37b66;
    background-color: inherit;
}