.card {
  background-color: #b7a6f6;
  display: grid;
  gap: 15px;
  padding: 30px;
  border-radius: 6px;
  grid-template-rows: 200px auto 1fr 30px;
  /* распределение элементов карточки по вертикали */
  align-content: flex-start;
  max-height: 420px;
  width: 300px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px 5px rgba(160, 109, 202, 0.6);

  &:hover {
    transition: 0.1s ease-in-out;
    box-shadow: 0px 0px 30px 15px rgba(241, 182, 210, 0.6);
  }
  &__btn:disabled {
    opacity: .8;
    cursor: default;
}

  &__h4 {
    color: #88a3e2;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
  }

  &__p {
    margin: 0;
  }

  &__img {
    border-radius: 6px;
    max-width: 200px;
    max-height: 200px;
    justify-self: normal;
    box-shadow: 0px 0px 10px 5px rgba(232, 228, 236, 0.6);
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
  }
  &__tags {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}
  &__tags span {
    background-color: palevioletred;
    color: #aaecfc;
    border-radius: 4px;
    padding: 0 4px;
}
  &__like {
  font-size: 1.3em;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
  color: rgb(240, 70, 127);
  padding: 4px;
}
  &__discount {
  position: absolute;
  top: 40px;
  left: 10px;
  background-color: rgb(240, 70, 127);
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}