.card {
  background-color: #b7a6f6;
  display: grid;
  gap: 15px;
  padding: 12px;
  border-radius: 6px;
  grid-template-rows: 200px auto 1fr 30px;
  /* распределение элементов карточки по вертикали */
  align-content: flex-start;
  width: 320px;
  position: relative;
  overflow: hidden;


  &:hover {
    transition: 0.1s ease-in-out;
    box-shadow: 0px 0px 10px 5px rgba(160, 109, 202, 0.6);
  }

  &__h4 {
    color: #88a3e2;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
  }

  &__p {
    margin: 0;
  }

  &__img {
    border-radius: 8px;
    height: 200px;
    justify-self: normal;
  }
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-like {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
  color: red;
  padding: 4px;
}

.card__discount {
  position: absolute;
  top: 40px;
  left: 10px;
  background-color: pink;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}