.card-lite {
  background-color: #b7a6f6;
  display: grid;
  gap: 15px;
  padding: 12px;
  border-radius: 6px;
  grid-template-rows: 200px auto 1fr 30px;
  /* распределение элементов карточки по вертикали */
  align-content: flex-start;
  width: 320px;
  position: relative;
  overflow: hidden;


&:hover {
  transition: 0.1s ease-in-out;
  box-shadow: 0px 0px 10px 5px rgba(82, 243, 243, 0.6);
}

&__h4 {
  color: #88a3e2;
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}

&__p {
  margin: 0;
}

&__img {
  border-radius: 6px;
  height: 200px;
  justify-self: end;
}
}
/* .btn {
  color: #c37edb;
  height: 35px;
  border-radius: 20px;
  background-color: #fc8dca;
  outline: none;
  border: none;
  font-size: 1em;
  font-weight: 600;
} */

/* .btn:hover {
  color: #fc8dca;
  border: 1px solid#C37EDB;
  background-color: inherit;
} */

/* .card-lite button {
  position: relative;
  z-index: 1;
} */
.card-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card-like {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
  color: red;
}
