.welcome {
    display: flex;
    justify-content: left;
    margin: 10px 80px;
    font-size: 4em;
    color: rgb(91, 60, 141);
    position: relative;

  &__title{
    margin: 400px 80px;
    font-size: 1.4em;
    color: #aaecfc;
}}
.home__img {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}
.sort-goods {
    background: #aaecfc;
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
    border-radius: 6px;
    padding: 12px 16px;
    display: flex;
    gap: 1rem;
    margin-bottom: 40px;
    max-height: 25px;
    margin: -25px 20px 0 40px;
}
.sort-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgb(91, 60, 141);
    cursor: pointer;
    padding: 5px;
}
.product{
    &__container {
    margin: 20px 60px;
}
    &__picture {
    max-width: 400px;
    border-radius: 6px;
    margin: 25px 0;
    }
    &__btn {
    }
    &__mark {
    color: rgb(192, 56, 124);
    font-size: larger;
}
}

.reviews {
    margin-top: 20px;
    &__author {
      align-items: center;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      color: #1a1a1a;
    }
    &__date {
      padding: 0 0 0 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #7b8e98;
    }
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__hr {
      height: 1px;
      background: #eceff1;
    }
    &__item {
      padding: 20px 0;
    }
    &__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem 0;
      width: 50%;
    }
    &__basket {
      cursor: pointer;
      margin-left: 1rem;
      stroke: grey;
    }
    &__controls {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        width: fit-content;
        padding: 2rem 0;
    }
  }
  
.container.bs {
  display: block;
}
table {
  /* width: 100%; */
  background-color: white;
  color: #88a3e2;
  border-radius: 6px;
  overflow: hidden;  
	padding: 10px 60px;
	margin: 5px 60px;
}
td {
  padding: .6rem 1rem;
  color: #88a3e2;
  box-shadow: 0px 0px 20px 10px rgba(151, 223, 245, 0.89);
}
td:first-child {
  text-align: center;
}
thead td {
  text-align: center;
  font-weight: bold;
}
tbody td {
  border-bottom: 1px solid #88a3e2;

}
tfoot td {
  vertical-align: bottom;
  line-height: 1;
}
tfoot td:first-child {
  text-align: right;
  text-transform: uppercase;
}
tfoot td:last-child {
  font-size: 1.2em;
  font-weight: bold;
}
tfoot del {
  padding-left: 12px;
  font-size: .6em;
  color: silver;
}
  