* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 33px 1fr 50px;
  grid-column-gap: 0px;
}

body {
  background-color: #b7a6f6;
  font-family: sans-serif;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* при минимальном размере 100 футера и шапки контейнер автоматич расширится, даже если нет карточек */
}

a {
  color: #aaecfc;
  font-weight: 400;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
}

p {
  color: #c37edb;
  font-size: 1.3em;
  font-weight: 600;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
  align-content: flex-start;
  /* правило по высоте фикс */
}

.search-result {
  grid-column-end: span 3;
  /*т к 3 элемента */
  margin: 0;
  color: #c37edb;
  font-size: 1.1rem;
}
.home {
  min-height: 400px;
}
@media (max-width: 576px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-shadow: 0 0 1px #88a3e2;
  user-select: none;
}

.info-link:hover {
  text-shadow: 0 0 7px #fc8dca;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
/*  для контейнера с картами */
/* .promo__block {
  border: 1px solid;
  border-radius: 8px;
  position: relative; /* родитель */
/*}*/
/* внутр.отступы текста */
/* .promo__text {
  padding: 10px 20px;
}
/* картинки карт */
/* .promo__img {
  background-image: radial-gradient(circle, orange, forestgreen, transparent); /* с прозрачным фоном */
/* width: 40px;
  height: 40px;
  position: absolute; /* ребь */
/* background-size: contain;
  right: 20px;
  top: calc(50% - 20px); /* из высоты вычесть выс эл-та и делить на 2 */
/*} */
